@using Microsoft.AspNetCore.Identity
@using Monopoly.Areas.Identity.Data

@inject SignInManager<MonopolyUser> SignInManager
@inject UserManager<MonopolyUser> UserManager

@* <ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
</ul> *@

@if (SignInManager.IsSignedIn(User))
{
    <dl>
        <dt>
            <a  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="profile-button">Hello, @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!</a>
        </dt>
        <dt>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="logout-button">Logout</button>
        </form>
        </dt>
    </dl>
}