@{
    ViewData["Title"] = "Game";
}
@using Microsoft.AspNetCore.Identity
@using Monopoly.Areas.Identity.Data

@inject SignInManager<MonopolyUser> SignInManager
@inject UserManager<MonopolyUser> UserManager

@model IEnumerable<Monopoly.Models.Player>;

@{
    List<Player> players = new List<Player>();
}

<link rel="stylesheet" href="~/css/game-page.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="game-body">
    <div class="board">
        <div class="top-line">
            <img src="https://i.imgur.com/77XeRvV.png" class="square-image" id="FreeParking"/>
            <input type="image" src="https://i.imgur.com/W4Vh6t3.png" class="top-image" id="KentuckyAvenue" onClick="cardClick('KentuckyAvenue', 'Cost: 220$', 'https://i.imgur.com/ZM4Jzdb.png')" />
            <div style="display: flex;position: absolute;margin-left:13vh;margin-top:1vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="KentuckyAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="KentuckyAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="KentuckyAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="KentuckyAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/Q7ES5G0.png" class="top-image" id="TouristTax"/>
            <input type="image" src="https://i.imgur.com/jCHbEdq.png" class="top-image" id="IndianaAvenue" onClick="cardClick('IndianaAvenue', 'Cost: 220$', 'https://i.imgur.com/NCG0ggi.png')"/>
            <div style="display: flex;position: absolute;margin-left:29vh;margin-top:1vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="IndianaAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="IndianaAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="IndianaAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="IndianaAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/dUJuB6b.png" class="top-image" id="IllinoisAvenue" onClick="cardClick('IllinoisAvenue', 'Cost: 240$', 'https://i.imgur.com/J1Q0zzI.png')"/>
            <div style="display: flex;position: absolute;margin-left:37vh;margin-top:1vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="IllinoisAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="IllinoisAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="IllinoisAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="IllinoisAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/CE1nGsE.png" class="top-image" id="B&ORailroad" onClick="cardClick('B&ORailroad', 'Cost: 200$', 'https://i.imgur.com/0jKJvN6.png')"/>
            <input type="image" src="https://i.imgur.com/gcN4LUu.png" class="top-image" id="AtlanticAvenue" onClick="cardClick('AtlanticAvenue', 'Cost: 260$', 'https://i.imgur.com/YrNd8F8.png')"/>
            <div style="display: flex;position: absolute;margin-left:53vh;margin-top:1vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="AtlanticAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="AtlanticAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="AtlanticAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="AtlanticAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/H3w2Dyc.png" class="top-image" id="VentorAvenue" onClick="cardClick('VentorAvenue', 'Cost: 260$', 'https://i.imgur.com/DoBRAS2.png')"/>
            <div style="display: flex;position: absolute;margin-left:61vh;margin-top:1vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="VentorAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="VentorAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="VentorAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="VentorAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/dTcTLBw.png" class="top-image" id="PortlandAirport" onClick="cardClick('PortlandAirport', 'Cost: 200$', 'https://i.imgur.com/ACi0CNd.png')"/>
            <input type="image" src="https://i.imgur.com/RNlcrUW.png" class="top-image" id="MarvinGardens" onClick="cardClick('MarvinGardens', 'Cost: 280$', 'https://i.imgur.com/rkgDSOb.png')"/>
            <div style="display: flex;position: absolute;margin-left:77vh;margin-top:1vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="MarvinGardens1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="MarvinGardens2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="MarvinGardens3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="MarvinGardens4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/nFHRdcm.png" class="square-image" id="GoToJail"/>
        </div>

        <div class="sides">            
            <div class="left-line">
                <input type="image" src="https://i.imgur.com/L1pDYKm.png" class="left-image" id="NewYorkAvenue" onclick="cardClick('NewYorkAvenue', 'Cost: 200$', 'https://i.imgur.com/M4pP2QE.png')"/>
                <div style="display:flex;position:absolute;margin-left:7vh;margin-top:3vh;justify-content:center;transform: rotate(90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="NewYorkAvenue1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="NewYorkAvenue2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="NewYorkAvenue3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="NewYorkAvenue4" style="width: 2vh;" hidden="true">
                </div>
                <input type="image" src="https://i.imgur.com/HfWP72f.png" class="left-image" id="TennesseAvenue" onclick="cardClick('TennesseAvenue', 'Cost: 180$', 'https://i.imgur.com/GRghdqi.png')"/>
                <div style="display:flex;position:absolute;margin-left:7vh;margin-top:11vh;justify-content:center;transform: rotate(90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="TennesseAvenue1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="TennesseAvenue2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="TennesseAvenue3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="TennesseAvenue4" style="width: 2vh;" hidden="true">
                </div>
                <input type="image" src="https://i.imgur.com/7LPT0oR.png" class="left-image" id="OrlandoAirport" onclick="cardClick('OrlandoAirport', 'Cost: 200$', 'https://i.imgur.com/SK2UaMG.png')"/>
                <input type="image" src="https://i.imgur.com/sA5jfjZ.png" class="left-image" id="StJamesPlace" onclick="cardClick('StJamesPlace', 'Cost: 180$', 'https://i.imgur.com/XnWQLKH.png')"/>
                <div style="display:flex;position:absolute;margin-left:7vh;margin-top:27vh;justify-content:center;transform: rotate(90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StJamesPlace1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StJamesPlace2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StJamesPlace3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StJamesPlace4" style="width: 2vh;" hidden="true">
                </div>
                <input type="image" src="https://i.imgur.com/UUuFZ4m.png" class="left-image" id="PennsylvaniaRailroad" onclick="cardClick('PennsylvaniaRailroad', 'Cost: 200$', 'https://i.imgur.com/pHQEgQv.png')"/>
                <input type="image" src="https://i.imgur.com/BXmZbUC.png" class="left-image" id="VirginiaAvenue" onclick="cardClick('VirginiaAvenue', 'Cost: 160$', 'https://i.imgur.com/NtwoqAD.png')"/>
                <div style="display:flex;position:absolute;margin-left:7vh;margin-top:43vh;justify-content:center;transform: rotate(90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="VirginiaAvenue1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="VirginiaAvenue2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="VirginiaAvenue3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="VirginiaAvenue4" style="width: 2vh;" hidden="true">
                </div>
                <input type="image" src="https://i.imgur.com/dr2vYed.png" class="left-image" id="StatesAvenue" onclick="cardClick('StatesAvenue', 'Cost: 150$', 'https://i.imgur.com/VpV8bPy.png')"/>
                <div style="display:flex;position:absolute;margin-left:7vh;margin-top:51vh;justify-content:center;transform: rotate(90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StatesAvenue1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StatesAvenue2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StatesAvenue3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StatesAvenue4" style="width: 2vh;" hidden="true">
                </div>
                <img src="https://i.imgur.com/OjxNR1i.png" class="left-image" id="LocalTax"/>
                <input type="image" src="https://i.imgur.com/iQPCHsb.png" class="left-image" id="StCharlesPlace" onclick="cardClick('StCharlesPlace', 'Cost: 150$', 'https://i.imgur.com/Oj6Ao8j.png')"/>
                <div style="display:flex;position:absolute;margin-left:7vh;margin-top:67vh;justify-content:center;transform: rotate(90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StCharlesPlace1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StCharlesPlace2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StCharlesPlace3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="StCharlesPlace4" style="width: 2vh;" hidden="true">
                </div>
            </div>

            <div class="right-line">
                <input type="image" src="https://i.imgur.com/ijRYx7d.png" class="left-image" id="PacificAvenue" onclick="cardClick('PacificAvenue', 'Cost: 300$', 'https://i.imgur.com/di23HlD.png')"/>
                <div style="display:flex;position:absolute;margin-right:7vh;margin-top:3vh;justify-content:center;transform: rotate(-90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="PacificAvenue1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="PacificAvenue2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="PacificAvenue3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="PacificAvenue4" style="width: 2vh;" hidden="true">
                </div>
                <input type="image" src="https://i.imgur.com/oHcww7M.png" class="left-image" id="NorthCarolinaAvenue" onclick="cardClick('NorthCarolinaAvenue', 'Cost: 300$', 'https://i.imgur.com/tlCRWAz.png')"/>
                <div style="display:flex;position:absolute;margin-right:7vh;margin-top:11vh;justify-content:center;transform: rotate(-90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="NorthCarolinaAvenue1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="NorthCarolinaAvenue2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="NorthCarolinaAvenue3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="NorthCarolinaAvenue4" style="width: 2vh;" hidden="true">
                </div>
                <input type="image" src="https://i.imgur.com/cDnMR4I.png" class="left-image" id="IndianapolisAirport" onclick="cardClick('IndianapolisAirport', 'Cost: 200$', 'https://i.imgur.com/rFkVIm3.png')"/>
                <input type="image" src="https://i.imgur.com/LVSISAS.png" class="left-image" id="PennsylvaniaAvenue" onclick="cardClick('PennsylvaniaAvenue', 'Cost: 320$', 'https://i.imgur.com/TuxWtqI.png')"/>
                <div style="display:flex;position:absolute;margin-right:7vh;margin-top:27vh;justify-content:center;transform: rotate(-90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="PennsylvaniaAvenue1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="PennsylvaniaAvenue2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="PennsylvaniaAvenue3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="PennsylvaniaAvenue4" style="width: 2vh;" hidden="true">
                </div>
                <input type="image" src="https://i.imgur.com/GxJcXKu.png" class="left-image" id="ShortLineRailroad" onclick="cardClick('ShortLineRailroad', 'Cost: 200$', 'https://i.imgur.com/ZqIAkPL.png')"/>
                <input type="image" src="https://i.imgur.com/PxJS0HT.png" class="left-image" id="BradleyAirport" onclick="cardClick('BradleyAirport', 'Cost: 200$', 'https://i.imgur.com/E65ObNT.png')"/>
                <input type="image" src="https://i.imgur.com/jNolU7x.png" class="left-image" id="ParkPlace" onclick="cardClick('ParkPlace', 'Cost: 350$', 'https://i.imgur.com/1mATfUS.png')"/>
                <div style="display:flex;position:absolute;margin-right:7vh;margin-top:51vh;justify-content:center;transform: rotate(-90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="ParkPlace1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="ParkPlace2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="ParkPlace3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="ParkPlace4" style="width: 2vh;" hidden="true">
                </div>
                <img src="https://i.imgur.com/0l5VZQv.png" class="left-image" id="LuxuryTax"/>
                <input type="image" src="https://i.imgur.com/4gYKtzH.png" class="left-image" id="Boardwalk" onclick="cardClick('Boardwalk', 'Cost: 400$', 'https://i.imgur.com/WHe1GYq.png')"/>
                <div style="display:flex;position:absolute;margin-right:7vh;margin-top:67vh;justify-content:center;transform: rotate(-90deg);;width:8vh">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="Boardwalk1" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="Boardwalk2" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="Boardwalk3" style="width: 2vh;" hidden="true">
                    <img src="https://i.imgur.com/xgy2nDm.png" id="Boardwalk4" style="width: 2vh;" hidden="true">
                </div>
            </div>
        </div>

        <div class="bottom-line">
            <img src="https://i.imgur.com/Z1t2DIq.png" class="square-image" id="Jail"/>
            <input type="image" src="https://i.imgur.com/ygeKyhO.png" class="top-image" id="ConnecticutAvenue" onclick="cardClick('ConnecticutAvenue', 'Cost: 110$', 'https://i.imgur.com/F0Q1aGn.png')"/>
            <div style="display: flex;position: absolute;margin-left:13vh;margin-bottom:10vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="ConnecticutAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="ConnecticutAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="ConnecticutAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="ConnecticutAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/I5hACh0.png" class="top-image" id="VermontAvenue" onclick="cardClick('VermontAvenue', 'Cost: 100$', 'https://i.imgur.com/OEu3Txl.png')"/>
            <div style="display: flex;position: absolute;margin-left:21vh;margin-bottom:10vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="VermontAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="VermontAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="VermontAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="VermontAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/RKp3hFA.png" class="top-image" id="MinneapolisAirport" onclick="cardClick('MinneapolisAirport', 'Cost: 200$', 'https://i.imgur.com/mYBJf2e.png')"/>
            <input type="image" src="https://i.imgur.com/l0YLNN0.png" class="top-image" id="OrientalAvenue" onclick="cardClick('OrientalAvenue', 'Cost: 100$', 'https://i.imgur.com/0K7u6oa.png')"/>
            <div style="display: flex;position: absolute;margin-left:37vh;margin-bottom:10vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="OrientalAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="OrientalAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="OrientalAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="OrientalAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/9rt6Xig.png" class="top-image" id="ReadingRailroad" onclick="cardClick('ReadingRailroad', 'Cost: 200$', 'https://i.imgur.com/cGSsXXe.png')"/>
            <img src="https://i.imgur.com/0wQIBCk.png" class="top-image" id="IncomeTax"/>
            <input type="image" src=https://i.imgur.com/s0udd6R.png" class="top-image" id="BalticAvenue" onclick="cardClick('BalticAvenue', 'Cost: 60$', 'https://i.imgur.com/ZpHbEQd.png')"/>
            <div style="display: flex;position: absolute;margin-left:61vh;margin-bottom:10vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="BalticAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="BalticAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="BalticAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="BalticAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <input type="image" src="https://i.imgur.com/P2azIYI.png" class="top-image" id="DenverAirport" onclick="cardClick('DenverAirport', 'Cost: 200$', 'https://i.imgur.com/plUewbh.png')"/>
            <input type="image" src="https://i.imgur.com/OdGXCxF.png" class="top-image" id="MediteraneanAvenue" onclick="cardClick('MediteraneanAvenue', 'Cost: 60$', 'https://i.imgur.com/3lv25yh.png')"/>
            <div style="display: flex;position: absolute;margin-left:77vh;margin-bottom:10vh;justify-content:center;width:8vh">
                <img src="https://i.imgur.com/xgy2nDm.png" id="MediteraneanAvenue1" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="MediteraneanAvenue2" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="MediteraneanAvenue3" style="width: 2vh;" hidden="true">
                <img src="https://i.imgur.com/xgy2nDm.png" id="MediteraneanAvenue4" style="width: 2vh;" hidden="true">
            </div>
            <img src="https://i.imgur.com/8H6S9wp.png" class="square-image" id="Start"/>
        </div>
    </div>
</div>
<div>
    @if(Model.Count() == 4)
    {
        <img src="https://i.imgur.com/K398MH6.png" style="width:3vw;height:6vh;position:fixed;margin-top:90vh;margin-left:89vh;left:0" id="~/images/pawns/yellow.png"/>
    }
    @if(Model.Count() >= 3)
    {
        <img src="https://i.imgur.com/wEkGoqn.png" style="width:3vw;height:6vh;position:fixed;margin-top:90vh;margin-left:89vh;left:0" id="~/images/pawns/red.png"/>
    }
    <img src="https://i.imgur.com/X0a0MNt.png" style="width:3vw;height:6vh;position:fixed;margin-top:90vh;margin-left:89vh;left:0" id="~/images/pawns/green.png"/>
    <img src="https://i.imgur.com/GJNa5Pc.png" style="width:3vw;height:6vh;position:fixed;margin-top:90vh;margin-left:89vh;left:0" id="~/images/pawns/blue.png"/>
</div>

<div class="players-column">
    <div class="players">
        @foreach (Player player in Model)
        {
            players.Add(player);
            <div style="display: flex;">
            <img src="@Url.Content(player.PawnPath)" class="player-image"/>
            <div>
                <p style="text-decoration: underline;">Player:</p>
                <ul>
                    <li id="@player.Pawn name">@player.Name</li>
                    <li id="@player.Pawn money">@player.Money$</li>
                </ul>
            </div>
        </div>
        }
    </div>
</div>

<div class="chat">
    <div style="justify-content:center">
        <h2 class="rules-text" style="color:#F5CD6C;">Chat with game players</h2>
    </div>
    <hr style="border-color:#F5CD6C;background-color:#F5CD6C">
    <div class="send-message">
        <div class="send-message-title">Message:</div>
        <input type="text" id="txtmessage" class="input-message" onkeyup="checkRequiredFields()"/>
        <button type="button" id="sendToGroupBtn" class="btn send-message-button" disabled="true">Send</button>
    </div>
    
    <div class="message-list" id="messagesList">
        <ul id="ulGroupMessages" style="color:white"></ul>
    </div>

</div>

<div class="dices">
    <img src="~/images/Dices/dice1.png" id="dice1" class="dice-image"/>
    <img src="~/images/Dices/dice1.png" id="dice2" class="dice-image"/>
    <button class="btn roll-button" id="rollDiceBtn" hidden="true">Roll dices</button>    
    <button class="btn roll-button" id="endTurnBtn" hidden="true">End turn</button>
    @*<button class="btn roll-button" id="bankruptcyBtn">Bankruptcy</button>*@
     <button class="roll-button" id="leaveGameBtn">Leave Game</button> 
</div>


@*Card modal popup when click on image*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="cardModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md card-modal-dialog" style="width:70vh;margin-left:15vh;margin-top:15vh">
        <div class="modal-content card-modal-content">

            <div class="modal-header" style="justify-content: center">
                <h1 class="modal-title rules-text card-modal-title" id="modalTitle"></h1>
            </div>

            <div style="margin:10px" class="text-center">
                <h3 class="text-center card-modal-subtitle" id="modalSubtitle"></h3>
                <img id="modalImage" style="margin:5px; width:30vw"/>
            </div>

            <div class="modal-footer" style="justify-content:center">
                <input type="number" id="proposeDealValue" class="input-propose" onkeyup="checkProposalAmount(this)" min="1" max="9999"/>
                <button type="button" class="btn close-card-button" id="buyProperty" hidden="true">Buy</button>
                <button type="button" class="btn close-card-button" id="buyHouse" hidden="true">Buy house</button>
                <button type="button" class="btn close-card-button" id="sellHouse" hidden="true">Sell house</button>
                <button type="button" class="btn close-card-button" id="proposeDeal" disabled="true">Propose deal</button>
                <button type="button" class="btn close-card-button" id="acceptDeal">Accept</button>
                <button type="button" class="btn close-card-button" id="declineDeal">Decline</button>
                <button type="button" class="btn close-card-button" onclick="closePopup()" id="closePopup">Close</button>                
            </div>

        </div>
    </div>
</div>

@*Winner modal*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="winnerModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md card-modal-dialog" style="width:70vh;margin-left:15vh;margin-top:15vh">
        <div class="modal-content card-modal-content">

            <div class="modal-header" style="justify-content: center">
                <h1 class="modal-title rules-text card-modal-title">Congratulations!</h1>
            </div>

            <div style="margin:10px" class="text-center">
                <h3 class="text-center card-modal-subtitle">You are the winner!</h3>
                <img style="margin:5px; width:20vw" src="~/images/winner.png"/>
            </div>

            <div class="modal-footer" style="justify-content:center">
                <button type="button" class="btn close-card-button" onclick="closeWinnerPopup()" id="winnerReturnButton">Return to main page</button>                
            </div>

        </div>
    </div>
</div>
@*Banckrupcity modal*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="banckrupcityModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md card-modal-dialog" style="width:70vh;margin-left:15vh;margin-top:15vh">
        <div class="modal-content card-modal-content">

            <div class="modal-header" style="justify-content: center">
                <h1 class="modal-title rules-text card-modal-title">Bankruptcy!</h1>
            </div>

            <div style="margin:10px" class="text-center">
                <h3 class="text-center card-modal-subtitle">No money available!</h3>
                <img style="margin:5px; width:20vw" src="~/images/loser.png"/>
            </div>

            <div class="modal-footer" style="justify-content:center">
                <button type="button" class="btn close-card-button" onclick="closeBanckrupcityPopup()" id="winnerReturnButton">Return to main page</button>                
            </div>

        </div>
    </div>
</div>

<input id="modelToJavascript" value="">

<script type="text/javascript">
    $('#modelToJavascript').val('@Html.Raw(Json.Serialize(Model))');

    function checkRequiredFields()
    {
        if($('#txtmessage').val() != ""){
            $('#sendToGroupBtn').prop('disabled', false);
        }else {
            $('#sendToGroupBtn').prop('disabled', true);
        }
    }

    function checkProposalAmount(el)
    {
        if(el.value != ""){
            if(parseInt(el.value) < parseInt(el.min)){
            el.value = el.min;
            }
            if(parseInt(el.value) > parseInt(el.max)){
            el.value = el.max;
            }
        }
        if($('#proposeDealValue').val() != ""){
            $('#proposeDeal').prop('disabled', false);
        }else {
            $('#proposeDeal').prop('disabled', true);
        }
    }

    function DisableBackButton() {
       window.history.forward()
      }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
    window.onunload = function() { void (0) }
</script>
<head>  
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="~/js/properties.js"></script>
    <script type="text/javascript" src="~/js/game.js"></script>
</head>  