@{
    ViewData["Title"] = "Game";
}
@using Microsoft.AspNetCore.Identity
@using Monopoly.Areas.Identity.Data

@inject SignInManager<MonopolyUser> SignInManager
@inject UserManager<MonopolyUser> UserManager

<link rel="stylesheet" href="~/css/game-page.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="game-body">
    <div class="board">
        <div class="top-line">
            <img src="~/images/Board/FreePark.png" class="square-image"/>
            <img src="~/images/Board/KentuckyAvenue.png" class="top-image" onclick="cardClick('Kentucky Avenue', 'Cost: 220$', '/images/Payments/KentuckyAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/TouristTax.png" class="top-image"/>
            <img src="~/images/Board/IndianaAvenue.png" class="top-image" onclick="cardClick('Indiana Avenue', 'Cost: 220$', '/images/Payments/IndianaAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/IllinoisAvenue.png" class="top-image" onclick="cardClick('Illinois Avenue', 'Cost: 240$', '/images/Payments/IllinoisAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/B&ORailroad.png" class="top-image" onclick="cardClick('B&O Railroad', 'Cost: 200$', '/images/Payments/B&ORailroad.png')" style="cursor:pointer"/>
            <img src="~/images/Board/AtlanticAvenue.png" class="top-image" onclick="cardClick('Atlantic Avenue', 'Cost: 260$', '/images/Payments/AtlanticAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/VentorAvenue.png" class="top-image" onclick="cardClick('Ventor Avenue', 'Cost: 100$', '/images/Payments/VentorAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/PortlandAirport.png" class="top-image" onclick="cardClick('Portland Airport', 'Cost: 200$', '/images/Payments/PortlandAirport.png')" style="cursor:pointer"/>
            <img src="~/images/Board/MarvinGardens.png" class="top-image" onclick="cardClick('Marvin Gardens', 'Cost: 280$', '/images/Payments/MarvinGardens.png')" style="cursor:pointer"/>
            <img src="~/images/Board/GoToJail.png" class="square-image"/>
        </div>

        <div class="sides">            
            <div class="left-line">
                <img src="~/images/Board/NewYorkAvenue.png" class="left-image" onclick="cardClick('NewYork Avenue', 'Cost: 200$', '/images/Payments/NewYorkAvenue.png')" style="cursor:pointer"/>
                <img src="~/images/Board/TennesseAvenue.png" class="left-image" onclick="cardClick('Tennesse Avenue', 'Cost: 180$', '/images/Payments/TennesseAvenue.png')" style="cursor:pointer"/>
                <img src="~/images/Board/OrlandoAirport.png" class="left-image" onclick="cardClick('Orlando Airport', 'Cost: 200$', '/images/Payments/OrlandoAirport.png')" style="cursor:pointer"/>
                <img src="~/images/Board/StJamesPlace.png" class="left-image" onclick="cardClick('St James Place', 'Cost: 180$', '/images/Payments/StJamesPlace.png')" style="cursor:pointer"/>
                <img src="~/images/Board/PennsylvaniaRailroad.png" class="left-image" onclick="cardClick('Pennsylvania Railroad', 'Cost: 200$', '/images/Payments/PennsylvaniaRailroad.png')" style="cursor:pointer"/>
                <img src="~/images/Board/VirginiaAvenue.png" class="left-image" onclick="cardClick('Virginia Avenue', 'Cost: 160$', '/images/Payments/VirginiaAvenue.png')" style="cursor:pointer"/>
                <img src="~/images/Board/StatesAvenue.png" class="left-image" onclick="cardClick('States Avenue', 'Cost: 150$', '/images/Payments/StatesAvenue.png')" style="cursor:pointer"/>
                <img src="~/images/Board/LocalTax.png" class="left-image"/>
                <img src="~/images/Board/StCharlesPlace.png" class="left-image" onclick="cardClick('St Charles Place', 'Cost: 150$', '/images/Payments/StCharlesPlace.png')" style="cursor:pointer"/>
            </div>

            <div class="right-line">
                <img src="~/images/Board/PacificAvenue.png" class="left-image" onclick="cardClick('Pacific Avenue', 'Cost: 300$', '/images/Payments/PacificAvenue.png')" style="cursor:pointer"/>
                <img src="~/images/Board/NorthCarolinaAvenue.png" class="left-image" onclick="cardClick('North Carolina Avenue', 'Cost: 300$', '/images/Payments/NorthCarolinaAvenue.png')" style="cursor:pointer"/>
                <img src="~/images/Board/IndianapolisAirport.png" class="left-image" onclick="cardClick('Indianapolis Airport', 'Cost: 200$', '/images/Payments/IndianapolisAirport.png')" style="cursor:pointer"/>
                <img src="~/images/Board/PennsylvaniaAvenue.png" class="left-image" onclick="cardClick('Pennsylvania Avenue', 'Cost: 320$', '/images/Payments/PennsylvaniaAvenue.png')" style="cursor:pointer"/>
                <img src="~/images/Board/ShortLineRailroad.png" class="left-image" onclick="cardClick('Short Line Railroad', 'Cost: 200$', '/images/Payments/ShortLineRailroad.png')" style="cursor:pointer"/>
                <img src="~/images/Board/BradleyAirport.png" class="left-image" onclick="cardClick('Bradley Airport', 'Cost: 200$', '/images/Payments/BradleyAirport.png')" style="cursor:pointer"/>
                <img src="~/images/Board/ParkPlace.png" class="left-image" onclick="cardClick('Park Place', 'Cost: 350$', '/images/Payments/ParkPlace.png')" style="cursor:pointer"/>
                <img src="~/images/Board/LuxuryTax.png" class="left-image"/>
                <img src="~/images/Board/Boardwalk.png" class="left-image" onclick="cardClick('Boardwalk', 'Cost: 400$', '/images/Payments/Boardwalk.png')" style="cursor:pointer"/>
            </div>
        </div>

        <div class="bottom-line">
            <img src="~/images/Board/Jail.png" class="square-image"/>
            <img src="~/images/Board/ConnecticutAvenue.png" class="top-image" onclick="cardClick('Connecticut Avenue', 'Cost: 110$', '/images/Payments/ConnecticutAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/VermontAvenue.png" class="top-image" onclick="cardClick('Vermont Avenue', 'Cost: 100$', '/images/Payments/VermontAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/MinneapolisAirport.png" class="top-image" onclick="cardClick('Minneapolis Airport', 'Cost: 200$', '/images/Payments/MinneapolisAirport.png')" style="cursor:pointer"/>
            <img src="~/images/Board/OrientalAvenue.png" class="top-image" onclick="cardClick('Oriental Avenue', 'Cost: 100$', '/images/Payments/OrientalAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/ReadingRailroad.png" class="top-image" onclick="cardClick('Reading Railroad', 'Cost: 200$', '/images/Payments/ReadingRailroad.png')" style="cursor:pointer"/>
            <img src="~/images/Board/IncomeTax.png" class="top-image"/>
            <img src="~/images/Board/BalticAvenue.png" class="top-image" onclick="cardClick('Baltic Avenue', 'Cost: 60$', '/images/Payments/BalticAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/DenverAirport.png" class="top-image" onclick="cardClick('Denver Airport', 'Cost: 200$', '/images/Payments/DenverAirport.png')" style="cursor:pointer"/>
            <img src="~/images/Board/MediteraneanAvenue.png" class="top-image" onclick="cardClick('Mediteranean Avenue', 'Cost: 60$', '/images/Payments/MediteraneanAvenue.png')" style="cursor:pointer"/>
            <img src="~/images/Board/Start.png" class="square-image"/>
        </div>
    </div>
</div>

<div class="players-column">
    <div class="players">
        <div style="display: flex;">
            <img src="~/images/pawns/blue.png" class="player-image"/>
            <div>
                <p style="text-decoration: underline;">Player1:</p>
                <ul>
                    <li>@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</li>
                    <li>Money: 2000$</li>
                </ul>
            </div>
        </div>
        <div style="display: flex;">
            <img src="~/images/pawns/green.png" class="player-image"/>
            <div>
                <p style="text-decoration: underline;">Player2:</p>
                <ul>
                    <li>@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</li>
                    <li>Money: 2000$</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="players">
        <div style="display: flex;">
            <img src="~/images/pawns/red.png" class="player-image"/>
            <div>
                <p style="text-decoration: underline;">Player3:</p>
                <ul>
                    <li>@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</li>
                    <li>Money: 2000$</li>
                </ul>
            </div>
        </div>
        <div style="display: flex;">
            <img src="~/images/pawns/yellow.png" class="player-image"/>
            <div>
                <p style="text-decoration: underline;">Player4:</p>
                <ul>
                    <li>@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</li>
                    <li>Money: 2000$</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="chat">
    <div style="justify-content:center">
        <h2 class="rules-text" style="color:#F5CD6C;">Chat with game players</h2>
    </div>
    <hr style="border-color:#F5CD6C;background-color:#F5CD6C">
    <div class="send-message">
        <div class="send-message-title">Message:</div>
        <input type="text" id="txtmessage" class="input-message" onkeyup="checkRequiredFields()"/>
        <button type="button" id="sendToGroupBtn" class="btn send-message-button" disabled="true">Send</button>
    </div>
    
    <div class="message-list" id="messagesList">
        <ul id="ulGroupMessages" style="color:white"></ul>
    </div>

</div>

<div class="dices">
    <img src="@Model.diceImage[0]" id="dice1" class="dice-image"/>
    <img src="@Model.diceImage[1]" id="dice2" class="dice-image"/>
    <button class="roll-button" onclick="rollDice()">Roll dices</button>
</div>


@*Card modal popup when click on image*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="cardModal">
    <div class="modal-dialog modal-md card-modal-dialog" style="width:60vw">
        <div class="modal-content card-modal-content">

            <div class="modal-header" style="justify-content: center">
                <h1 class="modal-title rules-text card-modal-title" id="modalTitle"></h1>
            </div>

            <div style="margin:10px" class="text-center">
                <h3 class="text-center card-modal-subtitle" id="modalSubtitle"></h3>
                <img id="modalImage" style="margin:5px; width:50vw"/>
            </div>

            <div class="modal-footer" style="justify-content:center">
                <button type="button" class="btn close-card-button" onclick="closePopup()">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    function cardClick(name, subtitle, picturePath){
        $('#modalTitle').html(name);
        $('#modalSubtitle').html(subtitle);
        $('#modalImage').attr('src', picturePath);
        openPopup();
    }

    function openPopup()
    {
        $('#cardModal').modal('show');
    }

    function closePopup()
    {
        $('#cardModal').modal('hide');
    }

    function rollDice()
    {
        $.ajax({
            url: 'RollDice',
            type: 'GET',
            contentType: 'application/json',
            success: function(data) {
                console.log(data);
                $("#dice1").attr("src", data[0]);
                $("#dice2").attr("src", data[1]);
            }
            }
        );
    }
    function checkRequiredFields()
    {
        if($('#txtmessage').val() != ""){
            $('#sendToGroupBtn').prop('disabled', false);
        }else {
            $('#sendToGroupBtn').prop('disabled', true);
        }
    }
</script>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat-game-page.js"></script>