@{
    ViewData["Title"] = "Game";
}
@using Microsoft.AspNetCore.Identity
@using Monopoly.Areas.Identity.Data

@inject SignInManager<MonopolyUser> SignInManager
@inject UserManager<MonopolyUser> UserManager

@model IEnumerable<Monopoly.Models.Player>;

@{
    List<Player> players = new List<Player>();
}

<link rel="stylesheet" href="~/css/game-page.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="game-body">
    <div class="board">
        <div class="top-line">
            <img src="~/images/Board/FreePark.png" class="square-image" id="FreeParking"/>
            <input type="image" src="~/images/Board/KentuckyAvenue.png" class="top-image" id="KentuckyAvenue" onClick="cardClick('KentuckyAvenue', 'Cost: 220$', '/images/Payments/KentuckyAvenue.png')" />
            <input type="image" src="~/images/Board/TouristTax.png" class="top-image" id="TouristTax"/>
            <input type="image" src="~/images/Board/IndianaAvenue.png" class="top-image" id="IndianaAvenue" onClick="cardClick('IndianaAvenue', 'Cost: 220$', '/images/Payments/IndianaAvenue.png')"/>
            <input type="image" src="~/images/Board/IllinoisAvenue.png" class="top-image" id="IllinoisAvenue" onClick="cardClick('IllinoisAvenue', 'Cost: 240$', '/images/Payments/IllinoisAvenue.png')"/>
            <input type="image" src="~/images/Board/B&ORailroad.png" class="top-image" id="B&ORailroad" onClick="cardClick('B&ORailroad', 'Cost: 200$', '/images/Payments/B&ORailroad.png')"/>
            <input type="image" src="~/images/Board/AtlanticAvenue.png" class="top-image" id="AtlanticAvenue" onClick="cardClick('AtlanticAvenue', 'Cost: 260$', '/images/Payments/AtlanticAvenue.png')"/>
            <input type="image" src="~/images/Board/VentorAvenue.png" class="top-image" id="VentorAvenue" onClick="cardClick('VentorAvenue', 'Cost: 260$', '/images/Payments/VentorAvenue.png')"/>
            <input type="image" src="~/images/Board/PortlandAirport.png" class="top-image" id="PortlandAirport" onClick="cardClick('PortlandAirport', 'Cost: 200$', '/images/Payments/PortlandAirport.png')"/>
            <input type="image" src="~/images/Board/MarvinGardens.png" class="top-image" id="MarvinGardens" onClick="cardClick('MarvinGardens', 'Cost: 280$', '/images/Payments/MarvinGardens.png')"/>
            <input type="image" src="~/images/Board/GoToJail.png" class="square-image" id="GoToJail"/>
        </div>

        <div class="sides">            
            <div class="left-line">
                <input type="image" src="~/images/Board/NewYorkAvenue.png" class="left-image" id="NewYorkAvenue" onclick="cardClick('NewYorkAvenue', 'Cost: 200$', '/images/Payments/NewYorkAvenue.png')"/>
                <input type="image" src="~/images/Board/TennesseAvenue.png" class="left-image" id="TennesseAvenue" onclick="cardClick('TennesseAvenue', 'Cost: 180$', '/images/Payments/TennesseAvenue.png')"/>
                <input type="image" src="~/images/Board/OrlandoAirport.png" class="left-image" id="OrlandoAirport" onclick="cardClick('OrlandoAirport', 'Cost: 200$', '/images/Payments/OrlandoAirport.png')"/>
                <input type="image" src="~/images/Board/StJamesPlace.png" class="left-image" id="StJamesPlace" onclick="cardClick('StJamesPlace', 'Cost: 180$', '/images/Payments/StJamesPlace.png')"/>
                <input type="image" src="~/images/Board/PennsylvaniaRailroad.png" class="left-image" id="PennsylvaniaRailroad" onclick="cardClick('PennsylvaniaRailroad', 'Cost: 200$', '/images/Payments/PennsylvaniaRailroad.png')"/>
                <input type="image" src="~/images/Board/VirginiaAvenue.png" class="left-image" id="VirginiaAvenue" onclick="cardClick('VirginiaAvenue', 'Cost: 160$', '/images/Payments/VirginiaAvenue.png')"/>
                <input type="image" src="~/images/Board/StatesAvenue.png" class="left-image" id="StatesAvenue" onclick="cardClick('StatesAvenue', 'Cost: 150$', '/images/Payments/StatesAvenue.png')"/>
                <img src="~/images/Board/LocalTax.png" class="left-image" id="LocalTax"/>
                <input type="image" src="~/images/Board/StCharlesPlace.png" class="left-image" id="StCharlesPlace" onclick="cardClick('StCharlesPlace', 'Cost: 150$', '/images/Payments/StCharlesPlace.png')"/>
            </div>

            <div class="right-line">
                <input type="image" src="~/images/Board/PacificAvenue.png" class="left-image" id="PacificAvenue" onclick="cardClick('PacificAvenue', 'Cost: 300$', '/images/Payments/PacificAvenue.png')"/>
                <input type="image" src="~/images/Board/NorthCarolinaAvenue.png" class="left-image" id="NorthCarolinaAvenue" onclick="cardClick('NorthCarolinaAvenue', 'Cost: 300$', '/images/Payments/NorthCarolinaAvenue.png')"/>
                <input type="image" src="~/images/Board/IndianapolisAirport.png" class="left-image" id="IndianapolisAirport" onclick="cardClick('IndianapolisAirport', 'Cost: 200$', '/images/Payments/IndianapolisAirport.png')"/>
                <input type="image" src="~/images/Board/PennsylvaniaAvenue.png" class="left-image" id="PennsylvaniaAvenue" onclick="cardClick('PennsylvaniaAvenue', 'Cost: 320$', '/images/Payments/PennsylvaniaAvenue.png')"/>
                <input type="image" src="~/images/Board/ShortLineRailroad.png" class="left-image" id="ShortLineRailroad" onclick="cardClick('ShortLineRailroad', 'Cost: 200$', '/images/Payments/ShortLineRailroad.png')"/>
                <input type="image" src="~/images/Board/BradleyAirport.png" class="left-image" id="BradleyAirport" onclick="cardClick('BradleyAirport', 'Cost: 200$', '/images/Payments/BradleyAirport.png')"/>
                <input type="image" src="~/images/Board/ParkPlace.png" class="left-image" id="ParkPlace" onclick="cardClick('ParkPlace', 'Cost: 350$', '/images/Payments/ParkPlace.png')"/>
                <img src="~/images/Board/LuxuryTax.png" class="left-image" id="LuxuryTax"/>
                <input type="image" src="~/images/Board/Boardwalk.png" class="left-image" id="Boardwalk" onclick="cardClick('Boardwalk', 'Cost: 400$', '/images/Payments/Boardwalk.png')"/>
            </div>
        </div>

        <div class="bottom-line">
            <img src="~/images/Board/Jail.png" class="square-image" id="Jail"/>
            <input type="image" src="~/images/Board/ConnecticutAvenue.png" class="top-image" id="ConnecticutAvenue" onclick="cardClick('ConnecticutAvenue', 'Cost: 110$', '/images/Payments/ConnecticutAvenue.png')"/>
            <input type="image" src="~/images/Board/VermontAvenue.png" class="top-image" id="VermontAvenue" onclick="cardClick('VermontAvenue', 'Cost: 100$', '/images/Payments/VermontAvenue.png')"/>
            <input type="image" src="~/images/Board/MinneapolisAirport.png" class="top-image" id="MinneapolisAirport" onclick="cardClick('MinneapolisAirport', 'Cost: 200$', '/images/Payments/MinneapolisAirport.png')"/>
            <input type="image" src="~/images/Board/OrientalAvenue.png" class="top-image" id="OrientalAvenue" onclick="cardClick('OrientalAvenue', 'Cost: 100$', '/images/Payments/OrientalAvenue.png')"/>
            <input type="image" src="~/images/Board/ReadingRailroad.png" class="top-image" id="ReadingRailroad" onclick="cardClick('ReadingRailroad', 'Cost: 200$', '/images/Payments/ReadingRailroad.png')"/>
            <img src="~/images/Board/IncomeTax.png" class="top-image" id="IncomeTax"/>
            <input type="image" src="~/images/Board/BalticAvenue.png" class="top-image" id="BalticAvenue" onclick="cardClick('BalticAvenue', 'Cost: 60$', '/images/Payments/BalticAvenue.png')"/>
            <input type="image" src="~/images/Board/DenverAirport.png" class="top-image" id="DenverAirport" onclick="cardClick('DenverAirport', 'Cost: 200$', '/images/Payments/DenverAirport.png')"/>
            <input type="image" src="~/images/Board/MediteraneanAvenue.png" class="top-image" id="MediteraneanAvenue" onclick="cardClick('MediteraneanAvenue', 'Cost: 60$', '/images/Payments/MediteraneanAvenue.png')"/>
            <img src="~/images/Board/Start.png" class="square-image" id="Start"/>
        </div>
    </div>
</div>
<div>
    @if(Model.Count() == 4)
    {
        <img src="~/images/Pawns/yellow.png" style="width:3vw;height:6vh;position:fixed;margin-top:90vh;margin-left:89vh;left:0" id="~/images/pawns/yellow.png"/>
    }
    @if(Model.Count() >= 3)
    {
        <img src="~/images/Pawns/red.png" style="width:3vw;height:6vh;position:fixed;margin-top:90vh;margin-left:89vh;left:0" id="~/images/pawns/red.png"/>
    }
    <img src="~/images/Pawns/green.png" style="width:3vw;height:6vh;position:fixed;margin-top:90vh;margin-left:89vh;left:0" id="~/images/pawns/green.png"/>
    <img src="~/images/Pawns/blue.png" style="width:3vw;height:6vh;position:fixed;margin-top:90vh;margin-left:89vh;left:0" id="~/images/pawns/blue.png"/>
</div>

<div class="players-column">
    <div class="players">
        @foreach (Player player in Model)
        {
            players.Add(player);
            <div style="display: flex;">
            <img src="@Url.Content(player.Pawn)" class="player-image"/>
            <div>
                <p style="text-decoration: underline;">Player:</p>
                <ul>
                    <li id="@player.Pawn name">@player.Name</li>
                    <li id="@player.Pawn money">@player.Money$</li>
                </ul>
            </div>
        </div>
        }
    </div>
</div>

<div class="chat">
    <div style="justify-content:center">
        <h2 class="rules-text" style="color:#F5CD6C;">Chat with game players</h2>
    </div>
    <hr style="border-color:#F5CD6C;background-color:#F5CD6C">
    <div class="send-message">
        <div class="send-message-title">Message:</div>
        <input type="text" id="txtmessage" class="input-message" onkeyup="checkRequiredFields()"/>
        <button type="button" id="sendToGroupBtn" class="btn send-message-button" disabled="true">Send</button>
    </div>
    
    <div class="message-list" id="messagesList">
        <ul id="ulGroupMessages" style="color:white"></ul>
    </div>

</div>

<div class="dices">
    <img src="~/images/Dices/dice1.png" id="dice1" class="dice-image"/>
    <img src="~/images/Dices/dice1.png" id="dice2" class="dice-image"/>
    <button class="btn roll-button" id="rollDiceBtn">Roll dices</button>    
    <button class="btn roll-button" id="endTurnBtn">End turn</button>
    <button class="btn roll-button" id="bankruptcyBtn">Bankruptcy</button>
    @* <button class="roll-button" id="leaveGameBtn">Leave Game</button> *@
</div>


@*Card modal popup when click on image*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="cardModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md card-modal-dialog" style="width:70vh;margin-left:15vh;margin-top:15vh">
        <div class="modal-content card-modal-content">

            <div class="modal-header" style="justify-content: center">
                <h1 class="modal-title rules-text card-modal-title" id="modalTitle"></h1>
            </div>

            <div style="margin:10px" class="text-center">
                <h3 class="text-center card-modal-subtitle" id="modalSubtitle"></h3>
                <img id="modalImage" style="margin:5px; width:30vw"/>
            </div>

            <div class="modal-footer" style="justify-content:center">
                <input type="number" id="proposeDealValue" class="input-propose" onkeyup="checkProposalAmount(this)" min="1" max="999"/>
                <button type="button" class="btn close-card-button" id="buyProperty" hidden="true">Buy</button>
                <button type="button" class="btn close-card-button" id="buyHouse" hidden="true">Buy house</button>
                <button type="button" class="btn close-card-button" id="proposeDeal" disabled="true">Propose deal</button>
                <button type="button" class="btn close-card-button" id="acceptDeal">Accept</button>
                <button type="button" class="btn close-card-button" id="declineDeal">Decline</button>
                <button type="button" class="btn close-card-button" onclick="closePopup()" id="closePopup">Close</button>                
            </div>

        </div>
    </div>
</div>
<input id="modelToJavascript" value="">

<script type="text/javascript">
    $('#modelToJavascript').val('@Html.Raw(Json.Serialize(Model))');

    function checkRequiredFields()
    {
        if($('#txtmessage').val() != ""){
            $('#sendToGroupBtn').prop('disabled', false);
        }else {
            $('#sendToGroupBtn').prop('disabled', true);
        }
    }

    function checkProposalAmount(el)
    {
        if(el.value != ""){
            if(parseInt(el.value) < parseInt(el.min)){
            el.value = el.min;
            }
            if(parseInt(el.value) > parseInt(el.max)){
            el.value = el.max;
            }
        }
        if($('#proposeDealValue').val() != ""){
            $('#proposeDeal').prop('disabled', false);
        }else {
            $('#proposeDeal').prop('disabled', true);
        }
    }

    function DisableBackButton() {
       window.history.forward()
      }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
    window.onunload = function() { void (0) }
</script>
<head>  
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="~/js/properties.js"></script>
    <script type="text/javascript" src="~/js/game.js"></script>
</head>  